<head>
    <meta charset="UTF-8">
    <title>Theme Builder</title>
<<<<<<< HEAD
    <link rel="stylesheet" href="/css/index.css">
=======
    <link rel="stylesheet" href="css/index.css">
>>>>>>> 10918e04e0929b18dced06e30c92fc19873707b3
  </head>