@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
}

section {
    display: flex;
}

section section:first-of-type {
    flex-direction: column;
    background-color: #281A3B;
    height: 785px;
    width: 15%;
    padding: 10px;
    border-right: 8px solid;
    border-left: 8px solid;
    border-image: linear-gradient(to bottom, #dca264, #bd9677, #f1d9a5, #ecb266, #ffeb8b, #ffdc7d, #ffdc7d) 1;
}

section section:first-of-type img {
    width: 100%;
    margin: 0;
    padding: 0;
}

section section:first-of-type ul { 
    list-style-type: none;
    color: white;
    text-align: center;
    padding: 0;
}

section section:first-of-type h1 { 
    color: white;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
}

section section:first-of-type li { 
  margin-bottom: 1em;
  text-transform: capitalize;
  font-family: 'Alegreya SC', serif;

}

section section:first-of-type li:first-of-type { 
   font-weight: 900;
  }



section section:nth-of-type(2) {
    flex-direction: column;
    background: radial-gradient(#290808, #5e0000);
    width: 15%;
    overflow: hidden;
    max-height: 100dvh;

}

<<<<<<< HEAD
section section:nth-of-type(2) a {
=======
section section:nth-of-type(2) button {
>>>>>>> 10918e04e0929b18dced06e30c92fc19873707b3
    background-color: transparent;
    border: none;
    color: white;
    transition: 0.5s;
    border-bottom: white 1px solid;
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    padding: 1em;

}
section section:nth-of-type(2) div {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
}

section section:nth-of-type(2) div button {
    background-color: transparent;
    border: none;
    color: white;
    transition: 0.5s;
    border-bottom: white 1px solid;
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    padding: 1em;
}

<<<<<<< HEAD
section section:nth-of-type(2) a:nth-of-type(1):hover {
    background-color: #120418;
    color: #d289ff;
    transition: 0.5s;
    font-size: 1em;
}

section section:nth-of-type(2) a:nth-of-type(2):hover {
=======
section section:nth-of-type(2) button:hover {
>>>>>>> 10918e04e0929b18dced06e30c92fc19873707b3
    background-color: #120418;
    color: #d289ff;
    transition: 0.5s;
    font-size: 1em;
}

form {
    width: 24%;
    margin-left: 1em;
    margin-right: 0em;
}

form img { 
    width: 80%;
}

label {
    display: flex;
    flex-direction: column;
    font-family: 'Alegreya SC', serif;
    font-weight: 700;

}

input[type="file"] {
    display: none;
}

<<<<<<< HEAD
label:nth-of-type(6) {
=======
label:nth-of-type(5) {
>>>>>>> 10918e04e0929b18dced06e30c92fc19873707b3
    border: 1px solid #ccc;
    display: inline-block;
    padding: 10px 12px;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    transition: 0.5s;
    width: 61%;
}

<<<<<<< HEAD
label:nth-of-type(6):hover {
=======
label:nth-of-type(5):hover {
>>>>>>> 10918e04e0929b18dced06e30c92fc19873707b3
    border: 1px solid #ccc;
    display: inline-block;
    padding: 10px 12px;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    color: white;
    transition: 0.5s;
    background-color: rgb(25, 23, 51);
}

form input:last-of-type { 
    padding: 1.5em;
    color: white;
    background-color: #281A3B;
    border: none;
    width: 66.6%;
    font-family: 'Playfair Display SC', serif;
    font-weight: 500;

}

<<<<<<< HEAD
form input:nth-of-type(3) {
=======
form input:nth-of-type(2) {
>>>>>>> 10918e04e0929b18dced06e30c92fc19873707b3
        width: 300px;
        height: 300px;
    }

section section:nth-of-type(3)  { 
    display: inline-block;

}

section section:nth-of-type(3) section { 
    background-color: white;
    border-right: 1px  solid;
    border-top: 1px  solid;
    border-bottom: 1px  solid;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.059);
    width: 500px;
    height: 615px;
}

section section:nth-of-type(3) h2 {
    text-align: center;
    font-family: 'Alegreya SC', serif;

}

section section:nth-of-type(3) h3 {
    text-align: center;
    font-family: 'Alegreya SC', serif;

}

section section:nth-of-type(3) img {
    width: 50%;
    margin: 0 auto 0 auto;
}

section section:nth-of-type(3) p {
    padding:0 1em 0 1em;
    text-align: center;
    font-family: 'Alegreya SC', serif;
    font-size: 13px;

}

img {
    transition: 1s ease-out;
  }
  
  .leftmainsection, .rightmainsection {
    transition: background-color 1s ease-out;
  }
  
  .leftmainsection {
    background-color: white;
  }
  
  .rightmainsection {
    background-color: white;
  }



